.work-section {
  margin-left: 70px;
  height: 100%;
  position: relative;
  vertical-align: top;
}

.work-p {
  margin: 30px 0px;
}

.work-number {
  display: inline-block;
  font-size: 170px;
  font-weight: bold;
  color: #272727;
  -webkit-text-stroke: 1px white;
}

.work-title {
  display: inline-block;
  vertical-align: top;
  font-size: 70px;
  position: relative;
    z-index: 10;
  margin: 0;
  margin-top: 40px;
  margin-left: 70px;
}

.work-content {
  width: 600px;
  position: absolute;
   top: 90px;
   left: 300px;
}

.work-p-content {
  height: 200px;
}

.work-more-detail {
  text-align: center;
}

.work-more-detail a {
  padding: 10px 5px;
  border: 1px solid white;
  border-radius: 10px;
}