.left-navigation-bar {
  width: 100px;
  height: 70%;
  border-left: 1px solid white;
  position: absolute;
    top: 15%;
    left: 25px;
    z-index: 999;
}

.left-navigation-bar li{
  padding-left: 10px;
  width: 100px;
  height: calc(100% / 6);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
}

.left-navigation-bar .works-child{
  padding-left: 30px;
  width: 80px;
}